@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato:100');
@import url('https://fonts.googleapis.com/css?family=Lato:400');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 15px;
}

.intro {
  padding-right: 0px;
  height: 100%;
  width: 100%;
  margin: 0;
  background: url(background.jpg) no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}

.box {
  font-family: 'Lato', sans-serif;
  font-size: 760%;
  text-transform: uppercase;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 150px;
  box-sizing: border-box;
  padding: 3px;
}

.inner_box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  transition: .5s;
}

.box:after {
  content: '';
  position: absolute;
  top: 0;
  right: -1%;
  width: 50%;
  height: 100%;
  transition: .5s;
  z-index: 10;
}

.inner_box:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: #262626;
  transition: .5s;
  opacity: 0.4;
}

.inner_box:after {
  content: '';
  position: absolute;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background: #262626;
  transition: .5s;
  z-index: 11;
  opacity: 0.4;
}

.box:hover:before {
  left: 0;
}

.box:hover:after {
  right: 0;
}

.box:hover .inner_box:before {
  left: 0;
}

.box:hover .inner_box:after {
  right: 0;
}

h4 {
  position: absolute;
  top: 50%;
  font-weight: 100;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #262626;
  z-index: 100;
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
  transition: .5s;
}

.box:hover h4 {
  color: #fff;
}

a {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 5%;
}

@media screen and (max-width: 2160px) {
  .box {
    font-size: 110%;
    padding: 7px 15px;
  }
  
  a {
    font-size: 150%;
  }
}
